/* Estilo normal */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo modo oscuro */
.dark-mode {
  background-color: #121212;
  color: white;
}

/* Estilo de los contenedores */
.container {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

/* Estilo de los contenedores en modo oscuro */
.dark-mode .container {
  background-color: #333;
  color: white;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
}
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  main {
    display: flex;
    gap: 20px;
  }
  
  .control-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .visualizer {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    .cuadro {
      width: 100px;
      height: 100px;
      background: linear-gradient(135deg, magenta, purple);
      border-radius: 10px;
      animation: rotate 3s infinite linear;
    }
  
    @keyframes rotate {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
  